In [1]:
# Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [2]:
# What is Data?
# Data is a collection of a distinct small unit of information. It can be used in a variety of forms like text, numbers, media, 
# bytes, etc. it can be stored in pieces of paper or electronic memory, etc.

# What is Database?
# A database is an organized collection of data, so that it can be easily accessed and managed.

# You can organize data into tables, rows, columns, and index it to make it easier to find relevant information.

# Database handlers create a database in such a way that only one set of software program provides access of data to all the users.

# The main purpose of the database is to operate a large amount of information by storing, retrieving, and managing data.

# Differentiate between SQL and NoSQL databases.
# SQL:-
#     1. SQL is genererally used in Relational database management system.
#     2. Structured data can be store in tables.
#     3. The scheman are static
#     4. Schemas are rigid and bound to relationships 
#     5. Helpful to design complex queries
# NoSql:-
#        1. NOSQL is used for Non relational, distributed database system.
#        2. using Json data, unstructured data can be stored.
#        3. The Schemas are Dynamic 
#        4. Schemas are non-rigid, they are flexibles
#        5. no interface to prepare complex query

In [3]:
# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [4]:
# DDL Commands in SQL
# DDL is an abbreviation of Data Definition Language.

# The DDL Commands in Structured Query Language are used to create and modify the schema of the database and its objects. The syntax of DDL commands is predefined for describing the data. The commands of Data Definition Language deal with how the data should exist in the database.

# Following are the five DDL commands in SQL:

# CREATE Command
# DROP Command
# ALTER Command
# TRUNCATE Command
# RENAME Command

# CREATE Command
# CREATE is a DDL command used to create databases, tables, triggers and other database objects.
# Examples of CREATE Command in SQL
# Example 1: This example describes how to create a new database using the CREATE DDL command.

# Syntax to Create a Database:--
    # CREATE Database Database_name;
     # Create Database books;
        
# DROP Command
# DROP is a DDL command used to delete/remove the database objects from the SQL database.
# We can easily remove the entire table, view, or index from the database using this DDL command.

# DROP DATABASE Database_Name;  

# ALTER Command
# ALTER is a DDL command which changes or modifies the existing structure of the database, and it also changes the schema of database objects.
# We can also add and drop constraints of the table using the ALTER command.

# ALTER TABLE Student ADD Father's_Name Varchar(60);  

# TRUNCATE Command
# TRUNCATE is another DDL command which deletes or removes all the records from the table.
# This command also removes the space allocated for storing the table records.
# Syntax of TRUNCATE command
# TRUNCATE TABLE Table_Name;

In [5]:
# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [6]:
# DML Commands in SQL
# DML is an abbreviation of Data Manipulation Language.
# The DML commands in Structured Query Language change the data present in the SQL database. We can easily access, store, modify, update and delete the existing records from the database using DML commands.
# Following are the four main DML commands in SQL:
# SELECT Command
# INSERT Command
# UPDATE Command
# DELETE Command
# SELECT DML Command
# SELECT is the most important data manipulation command in Structured Query Language. The SELECT command shows the records of the specified table. It also shows the particular record of a particular column by using the WHERE clause.
# Syntax of SELECT DML command
# SELECT column_Name_1, column_Name_2, ….., column_Name_N FROM Name_of_table; 
# INSERT DML Command
# INSERT is another most important data manipulation command in Structured Query Language, which allows users to insert data in database tables.

# UPDATE DML Command
# UPDATE is another most important data manipulation command in Structured Query Language, 
# which allows users to update or modify the existing data in database tables.
# UPDATE Table_name SET [column_name1= value_1, ….., column_nameN = value_N] WHERE CONDITION; 

# DELETE DML Command
# DELETE is a DML command which allows SQL users to remove single or multiple existing records from the database tables.
# This command of Data Manipulation Language does not delete the stored data permanently from the database. We use the WHERE clause with the DELETE command to select specific rows from the table.
# Syntax of DELETE Command
# DELETE FROM Table_Name WHERE condition;

In [7]:
# Q4. What is DQL? Explain SELECT with an example.
# SQL Commands
# SQL commands are instructions. It is used to communicate with the database. It is also used to perform specific tasks, functions, and queries of data.
# SQL can perform various tasks like create a table, add data to tables, drop the table, modify the table, set permission for users.
# Types of SQL Commands
# There are five types of SQL commands: DDL, DML, DCL, TCL, and DQL.

# SQL SELECT Statement
# The SELECT statement is the most commonly used command in Structured Query Language. It is used to access the records from one or more database tables and views. It also retrieves the selected data that follow the conditions we want.
# By using this command, we can also access the particular record from the particular column of the table. The table which stores the record returned by the SELECT statement is called a result-set table.
# Syntax of SELECT Statement in SQL
# SELECT Column_Name_1, Column_Name_2, ....., Column_Name_N FROM Table_Name;

In [8]:
# Q5. Explain Primary Key and Foreign Key.

In [9]:
# SQL FOREIGN KEY
# In the relational databases, a foreign key is a field or a column that is used to establish a link between two tables.

# In simple words you can say that, a foreign key in one table used to point primary key in another table.

# Let us take an example to explain it:

# Here are two tables first one is students table and second is orders table.

# Here orders are given by students.

# Primary key is always unique while foreign key can be duplicated.

# Primary key uniquely identify a record in a table while foreign key is a field in a table that is primary key in another table.

# There is only one primary key in the table on the other hand we can have more than one foreign key in the table.
# CREATE TABLE orders  
# (  
# O_Id int NOT NULL,  
# Order_No  int NOT NULL,  
# S_Id int,  
# PRIMAY KEY (O_Id),  
# FOREIGN KEY (S_Id) REFERENCES Persons (S_Id)  
# )

In [ ]:
# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [11]:
# import mysql.connector
# mydb=mysql.connector.connect(
#     host='localhost',
#     user='root',
#     password='hufhfghhhhhfghhhfhfhh',
#     database='maa')

# Explain the cursor() and execute() method.
# The MySQLCursor of mysql-connector-python (and similar libraries) is used to execute statements to communicate with the MySQL database.

# Using the methods of it you can execute SQL statements, fetch data from the result sets, call procedures.

# You can create Cursor object using the cursor() method of the Connection object/class.

In [12]:
# Q7. Give the order of execution of SQL clauses in an SQL query.

# SQL CLAUSES
# SQL clause helps us to retrieve a set or bundles of records from the table.
# SQL clause helps us to specify a condition on the columns or the records of a table.
# Different clauses available in the Structured Query Language are as follows:

# WHERE CLAUSE
# GROUP BY CLAUSE
# HAVING CLAUSE
# ORDER BY CLAUSE

#  WHERE CLAUSE
# A WHERE clause in SQL is used with the SELECT query, which is one of the data manipulation language commands. WHERE clauses can be used to limit the number of rows to be displayed in the result set, it generally helps in filtering the records. It returns only those queries which fulfill the specific conditions of the WHERE clause. WHERE clause is used in SELECT, UPDATE, DELETE statement, etc.

# WHERE clause with SELECT Query
# Asterisk symbol is used with a WHERE clause in a SELECT query to retrieve all the column values for every record from a table.